<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h3>
      Sign In
    </h3>
      <form action="/" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <input type="submit" name="sub1" value="Sign In">
      </form>
      <p>{{response}}</p>
      <div class="register">
        <p>
          Don't have an account?
        </p>
        <form action="/register" method="GET">
          <button>Sign Up</button>
        </form>
      </div>
    <!-- <form action="/register" method="GET">
      <button>Sign Up</button>
    </form> -->
  </body>
</html>